<div app-head1="职位详情">	</div>
<div app-position-details class="position-details">		
	  <div class="details-top">
   		<p>{{data.name}} 
   		<span class="first">{{data.salaryName}}</span> </p>
   		<p>{{data.cityName}}  
   		<span>{{data.experience}}</span>   <span>{{data.education}}</span></p>
   		<p>{{data.benefit}}</p>
   		<img src="{{imgUrl}}" alt="" class="star">
   </div>
   <div app-company></div>
   <div class="details-middle">
   <div >职位描述</div>
   <pre>{{data.description}}</pre>
   </div>
    <div class="position-list-buttom">
   	
   </div>
</div>
<div app-footer1></div>

	
