<div class="login-bg">
	<div class="login-top">
		<label for="phone" ><span class="img">
			<i class="icon iconfont icon-man"></i>
		</span>
			
		<input type="text" name="phone" value="" placeholder="请输入手机号" ng-model="phone"></label>
		

		<label for="pwd" >
		<span class="img">
			<i class="icon iconfont icon-mima"></i>	
		</span>
			
		<input type="password" name="pwd" value="" placeholder="输入密码" ng-model="pwd"></label>
		

	</div>
	<div ng-hide="span" class="span">您输入的用户名或密码不正确~</div>
	<div class="login-bottom">
	<button ng-click="doLogin()">登录</button>
	<button ui-sref="regist">注册</button>
</div>

</div>